:root {
    --firt-color: #12fd74;
    --second-color: aqua;
    --header-font: 4rem;
    --font: 2.4rem; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: 15vh;
    background-color: var(--firt-color);
}
main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}
h1{
    font-size: var(--header-font);
}
footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--second-color);
}